exclude: ^(.gitignore|generate_sbom.py|extract_file_info.py|pe_info.py)
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      # Run the linter
      - id: ruff
        args: [ --fix ]
      # Run the formatter
      - id: ruff-format
  - repo: https://github.com/pycqa/pylint
    rev: v3.3.7
    hooks:
      - id: pylint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      #- id: pretty-format-json
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-x]

# Note: codespell will try to spell check file extensions that should not be changed
#  - repo: https://github.com/codespell-project/codespell
#    rev: v2.2.2
#    hooks:
#      - id: codespell
#  - repo: local
#    hooks:
#      - id: shfmt
#        name: shfmt
#        language: golang
#        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.3.1]
#        entry: shfmt -w
#        types: [shell]
